@CHARSET "ISO-8859-1";

body {
}

#wrapper {
	height:auto;
	background:white;
	min-width:600px;
}

#top {
	background:red;
	width:100%;
	height:20px;
	float: top;
	position: fixed;
	top: 0;
}

#main {
	width:100%;
	margin-top:20px;
	height:auto;
	float: top;
	overflow:auto;
}

#mainSidebar {
	background: yellow;
	float: left;
	width:200px;
	padding: 5px;
}

#mainSidebar li {
	margin-top:5px;
}
#mainSideBar li:hover {
	cursor:hand;
	background:green;
}

#mainContent {
	width:auto;
	overflow:hidden;
	padding: 5px;
}

.active {
	display:block;
}

.inActive {
	display:none;
}

#adminViewProductsPageTopBar {
	border-bottom: 1px solid black;
	float:top;
	width: 100%;
	overflow:auto;
}
#adminViewProductsPageTopBar:hover {
	background:inherit;
}

.product {
	float:top;
	width: 100%;
	overflow:auto;
}

.product ul {
	width:100%;
	overflow: auto;
}

.product li {
	width: 8%; 
	display:inline;
	float:left;
	word-wrap:break-word;
	padding-right:0.5%;
	padding-left:0.5%;
	border-right: 1px solid gray;
}

.productExtra{
	width:20% !important;
}

.numberExtra{
	text-align: right;
}

.product:hover {
	background:yellow;
	cursor: hand;
}

.product input {
	width:100%;
}

#foot {
	width:100%;
	background: blue;
	float: top;
	clear:both;
}

#loginbox {
	background: #F8F8F8;
	width: 400px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	margin-top:20px;
	transform: translate(-50%);
	padding: 10px;
	border: 1px solid #E0E0E0;
}