@CHARSET "ISO-8859-1";

#itemPage {
	width:100%;
	float:left;
}

/* -------------- Image & Rating sidebar */

#itemSideBar{
	width:25%;
	min-width: 255px;
	height:100%;
	float:left;
}

#itemImgBox {
	width: 100%;
	height: width;
	float:top;
	padding-bottom: 10px;
}

#itemImgBox img {
	width: inherit;
	height:inherit;
	transition: transform 1.0s ease-in-out;
	pointer-events: none;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
}

#itemReviewBox {
	width: 100%;
}

#itemAvgRating {
	font-family: Arial, Charcoal, sans-serif;
	font-size: 22px;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

#itemReviews {
	height:200px;
}

#itemReviews h1 {
	font-family: Arial, Charcoal, sans-serif;
	font-size: 22px;
	text-align: center;
	padding: 10px;
}

/* ------------- item stat box */

#itemStatBox {
	width:75%;
	float:left;
	
}

#itemContentBox {
	float:left;
	width:71%;
	margin-left:2%;	
}

#itemContentBox h1 {
	font-size: 34px;
	padding: 10px;
	margin-bottom: 10px;
}

#itemContentMeny {
	overflow:auto;
}

#itemList {
	width:100%;
	overflow:auto;
	list-style-type:none;
	z-index: 0;
}

#itemList li {
	font-size: 18px;
	z-index: 10;
	width: 30%;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	cursor: hand;
	text-align: center;
}

#itemDescriptionButton {

}

#itemRatingButton {

}

.itemActive {
	background: #F8F8F8;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

.itemDeactive {
	background: #D0D0D0;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

#itemContent {
	border-top: none;
	padding: 10px;
}

#itemDescriptionPage {

}

#itemReviewPage {
	display: none;
}

#itemReviewForm {
	
}
#itemReviewForm textarea {
	height: 150px;
	min-width:100%;
	max-width:100%;
}

#itemBuyBox {

	width: 25%;
	float: right;

}

#itemBuyBox h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 52px;
	padding: 10px;
	text-align: center;
}

#itemBuyBox h1:hover{
	transform: scale(1.2);
	z-index: 10;
}

#itemBuyBoxButton {
	border-radius: 5px;
	background: black;
	color: white;
	width:90%;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 32px;
	margin: 0% 5% 5% 5%;
	text-align: center;
	transition: transform 0.1s ease-in-out;
}

#itemBuyBoxStock {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

#itemBuyBoxButton:hover {
	transform: scale(1.1);
	cursor: hand;
}
