@CHARSET "ISO-8859-1";

html, body
{
background: white;
}

#navigation{
background:url(img/menuback.png);
width:100%;
height:30px;
border-bottom: 1px solid black;
float:top;

}
#nav-bar{
list-style-type:none;
margin: 0 auto;
width: 1040px;
}

#nav-bar li{
float:left;
height:30px;
min-width:173.3px;
transition: background 0.2s ease-in-out;
-webkit-transition: background 0.2s ease-in-out;
-moz-transition: background 0.2s ease-in-out;
}

#nav-bar li:hover{
background: gray;
}

#nav-bar li a{
float:left;
font-family: 'impact', sans-serif;
padding: 5px 0;
height:30px;
min-width:inherit;
color:white;
text-decoration: none;
text-align:center;
}

#sliderbox{
background:url(style/img/sliderback.png);
min-width:960px;
height:500px;
margin:0 auto;
}

#wrapper {
	float: top;
}

#main{
background:white;
min-width:510px;
max-width:1020px;
min-height: 100%;
margin:0 auto;
padding: 10px 10px 10px 10px;
overflow:auto;
float:top;

}

#footer{
background: red;
min-width: 1020px;
min-height: 200px;
border-top: 1px solid black;
float:top;
}

#pagewrapper{
background: white;
}

#orderHistory{
	align: left;
	width: 100%;
	overflow:auto;
}

.orderView{
	width: 33.3%;
	min-height: 25px;
	float: left;
	border-bottom:2px solid black;
}
.orderView div{
float: right;
padding-right: 15px;
font-weight: bold;
display: inline-block;	
}

.orderItems{
	width: 90%;
}
.orderItems div{	
}

.pullUpItems{
	width: 90%;
	text-align: center;
}

.cartView{
	width:25%;
	min-height:25px;
	float:left;
	border-bottom:2px solid black;
}
.cartPrice{
	width:19%;
	min-height:25px;
	float:left;
	border-bottom: 2px solid black;
}
.cartDelete{
	width:6%;
	min-height:25px;
	float:left;
	border-bottom: 2px solid black;
}

#cartTotal{
	background: grey;
}
#cartTotal div{
	height: 60px;
	background: lightgrey;
	font-weight: bold;
}
#cartCheckout{
	height: 25px;
	float: left;
}

#checkoutInfo{
	width: 100%;
	text-align: center;
	font-weight: bold;
		
}



.qtyFORM {
	width:40px;
}
#infoBox a {
	font-family: 'impact', sans-serif;
	text-decoration: none;
	text-align: center;
}
#footer {
	text-align: center;
}
#notificationPopup {
	font-family: 'arial', sans-serif;
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	background: white;
	width: 250px;
	height: 30px;
	margin-left: 385px;
	position: fixed;
	z-index: 10;
	pointer-events: none;
	border-radius: 0 0 10px 10px;
	opacity: 1;
	transition: opacity 1s ease-out;
	overflow: hidden;
	transform: translate(0, -40px);
}
.contactInfo{
	border-left: 2px solid black;
	padding-left: 5px;
	display:inline-block;
	width: 350px;
}

.changeInfo{
	min-width: 40px;
	padding-left:15px;
	display: inline-block;
	align: left;

}

.changeInfo a{
	text-decoration : none;
	align: right;
}

.productNameProfile{
	display: inline-block;
	width: 150px;
	border-bottom: 1px solid black;
}

.productRatingProfile{
	display: inline-block;
	width: 150px;
	border-bottom: 1px solid black;
}

#rankedProducts{
	align: left;
	margin-top: 15px;
}


