@CHARSET "ISO-8859-1";

/*=== Reset Styles ===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}


html, body
{
background:url(img/sliderback.png) top repeat-x;
}

#header{
background: red;
min-width: 1020px;
height:120px;
margin:0 auto;
border-bottom: 1px solid black;

}

#navigation{
background:url(img/menuback.png);
width:100%;
height:30px;
border-bottom: 1px solid black;
float:top;

}
#nav-bar{
list-style-type:none;
margin: 0 auto;
width: 1020px;
}

#nav-bar li{
float:left;
height:30px;
width:160px;
transition: background 0.2s ease-in-out;
-webkit-transition: background 0.2s ease-in-out;
-moz-transition: background 0.2s ease-in-out;
}

#nav-bar li:hover{
background: gray;
}

#nav-bar li a{
font-family: 'impact', sans-serif;
float:left;
padding: 5px 0;
height:30px;
width:160px;
color:white;
text-decoration: none;
text-align:center;
}

#sliderbox{
background:url(style/img/sliderback.png);
min-width:960px;
height:500px;
margin:0 auto;
}

#wrapper {
	float: top;
}

#main{
background:white;
width:1020px;
min-height: 100%;
margin:0 auto;
border-top: 0px solid gray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
border-left: 1px solid gray;
padding: 10px 10px 10px 10px;
overflow:auto;
float:top;

}

#footer{
background: red;
min-width: 1020px;
min-height: 200px;
border-top: 1px solid black;
float:top;
}

#pagewrapper{
background: white;
}

#loginbox {
	background: lightgray;
	border-radius: 10px;
	width: 400px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	margin-top:20px;
	transform: translate(-50%);
	padding: 10px;
	border:1px solid gray;
}

#header-container {
	width: 1020px;
	margin: 0 auto;
}

#logo-container {
	background: red;
	height: 100%;
	float: left;
	width: 300px;
}

#searchfield {
	font-family: 'arial', sans-serif;
	background: white;
	border-radius: 5px 10px 5px 10px;
	margin: 70px 20px 0px 20px;
	height: 30px;
	min-width: 400px;
	float: left;
	
}

#identitybox {
	font-family: 'arial', sans-serif;
	font-size: 12px;
	background: white;
	border-radius: 0 0 5px 5px;
	margin-top: 0px;
	padding: 4px 8px 4px 8px;
	float: right;
}

#identitybox a.ib:link {
	text-decoration: none;
	color:gray;
}
#identitybox a.ib:visited {
	color:gray;
}
#identitybox a.ib:hover {
	text-decoration: none;
	color:red;
}


.cartView{
	width:25%;
	height:25px;
	float:left;
	border-bottom:2px solid black;
}

.cartPrice{
	width:19%;
	height:25px;
	float:left;
	border-bottom: 2px solid black;
}

.cartDelete{
	width:6%;
	height:25px;
	float:left;
	border-bottom: 2px solid black;
}

.productBox {
	background: lightgray;
	width: 326px;
	height: 160px;
	float:left;
	margin: 2px 2px 2px 2px;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
}

.productBox img {
	width: 160px;
	height: 160px;
	float:left;
}

.productBox h1, h2 {
	font-family: "Arial", sans-serif;
	font-size:18px;
	margin-left: 0px;
	float: top;
}

.productBox #infoBox {
	float:top;
	margin-left: 180px;
	margin-top: 10px;
}

.qtyFORM {
	width:40px;
}

.productBoxBuyButton {
	border-radius: 5px;
	background:red;
	width: 50px;
	height: 20px;
	float:top;
}
.productBoxBuyButton:hover {
	background: blue;
}

#infoBox a {
	font-family: 'impact', sans-serif;
	text-decoration: none;
	text-align: center;
}

.productPage {
	background:gray;
	width:inherit;
	height:inherit;
	float:left;
}

.productPage img {
	float:left;
}

.productDescr {
	float:left;

}

#footer {
	text-align: center;
}

#notificationPopup {
	font-family: 'arial', sans-serif;
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	background: white;
	width: 250px;
	height: 30px;
	margin-left: 385px;
	position: fixed;
	z-index: 10;
	pointer-events: none;
	border-radius: 0 0 10px 10px;
	opacity: 1;
	transition: opacity 1s ease-out;
	overflow: hidden;
	transform: translate(0, -40px);
}


